<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <style>
            body {
                background-color: lightblue;
            }
            h1 {
                color: navy;
                margin-left: 20px;
            }
        </style>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Hei!</h1>

        <!--        <ol>
                    <li th:each="alue: ${alueet}">
                        <span th:text="${alue.aihe}">ketjun nimi</span> <a th:href="${'/alueen_ketjut/' + alue.id}">keskustelualueelle</a>
                    </li>
                </ol>-->
        <table>
            <tr><td><strong>Aihe</strong></td><td><strong>Viestejä yhteensä</strong></td><td><strong>Viimeisin viesti</strong></td></tr>

            <tr th:each="alue: ${alueet}">
                <td><a th:href="${'/alueen_ketjut/' + alue.id}"> <span th:text="${alue.aihe}"></span></a></td>
                <td th:text="${aihealue.viestienMaaraAlueella(alue.id)}">1</td>
                <td th:text="${alue.viimeViestinAikaleima}">1</td>
            </tr>
        </table>


        <form method="POST" action="/">
            otsikko:<br/>
            <input type="text" name="aihe"/><br/>
            <input type="submit" value="lisaa alue"/>
        </form>
    </body>
</html>