<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <style>
            body {
                background-color: lightblue;
            }
            h3 {
                color: navy;
                margin-left: 20px;
            }
        </style>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h3 th:text="${otsikko}"></h3>
        <table>
            <tr><td align="center" valign="center"><strong>Otsikko</strong></td><td align="center" valign="center"><strong>Viestien maara</strong></td><td align="center" valign="center"><strong>Viimeisin viesti</strong></td></tr>

            <tr th:each="ketju: ${lista}">
                <td><a th:href="${'/viestit/' + ketju.id}"> <span th:text="${ketju.otsikko}"></span></a></td>
                <td th:text="${keskusteluketju.viestienMaaraKetjussa(ketju.id)}">1</td>
                <td th:text="${keskusteluketju.getViimeisimmanViestinAikaleima(ketju.id)}">1</td>
            </tr>
        </table>

        <br></br>
        <form method="POST">
            Otsikko:<br></br>
            <input type="text" name="otsikko" /><br></br>
            Nimi:<br></br>
            <input type="text" name="nimi" /><br></br>
            Viesti:<br></br>
            <textarea name="viesti" id="textarea" cols="45" rows="5"></textarea>
            <input type="submit" name="button" value="Send" />
        </form>

    </body>
</html>